*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contenedor_carga {
    background-color: rgba(0, 0, 0, 0.541);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

#carga {
    border: 8px solid rgb(0, 0, 0);
    border-top-color: #691e00;
    border-top-style: groove;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    background-image: url(../imagenes/mesa.jpg);
    padding: 0;
    margin: 0;
}

.caja {
    width: 100%;
    float: left;
}
img {
    width: 100%;
}
button {
    background-color: rgba(255, 0, 0, 0);
    border: seagreen;
}
.caja div {
    width: 9%;
    position: absolute;
}
.cartabot1 {
    -ms-transform:rotate(200deg); /* IE 9 */
    -webkit-transform:rotate(200deg); /* Opera, Chrome, and Safari */
    transform:rotate(200deg);
    margin-top: 1%;
    margin-left: 35%;
    z-index: 999;
}
.cartabot2 {
    -ms-transform:rotate(185deg); /* IE 9 */
    -webkit-transform:rotate(185deg); /* Opera, Chrome, and Safari */
    transform:rotate(185deg);
    margin-top: 1%;
    margin-left: 42.5%;
    z-index: 1000;
}
.cartabot3 {
    -ms-transform:rotate(160deg); /* IE 9 */
    -webkit-transform:rotate(160deg); /* Opera, Chrome, and Safari */
    transform:rotate(160deg);
    margin-top: 1%;
    margin-left: 49%;
    z-index: 1001;
}
.cartajug1{
    -ms-transform:rotate(25deg); /* IE 9 */
    -webkit-transform:rotate(25deg); /* Opera, Chrome, and Safari */
    transform:rotate(25deg);
    margin-left: 49%;
    margin-top: 18%;
    z-index: 999;
}
.cartajug2{
    -ms-transform:rotate(10deg); /* IE 9 */
    -webkit-transform:rotate(10deg); /* Opera, Chrome, and Safari */
    transform:rotate(10deg);
    margin-top: 18%;
    margin-left: 42.5%;
    z-index: 1000;
}
.cartajug3{
    -ms-transform:rotate(-10deg); /* IE 9 */
    -webkit-transform:rotate(-10deg); /* Opera, Chrome, and Safari */
    transform:rotate(-10deg);
    margin-top: 18%;
    margin-left: 35%;
    z-index: 1001;
}

.baraja {
    -ms-transform:rotate(35deg); /* IE 9 */
    -webkit-transform:rotate(35deg); /* Opera, Chrome, and Safari */
    transform:rotate(35deg);
    z-index: 1051;
    width: 9%;
    margin-top: 4%;
    margin-left: 75%;
    position: absolute;
}
.cart {
    width: 115%;
    transition: width .2s;
}
.cart:hover{
    width: 122%;
}
.vira {
    -ms-transform:rotate(200deg); /* IE 9 */
    -webkit-transform:rotate(200deg); /* Opera, Chrome, and Safari */
    transform:rotate(200deg);
    z-index: 1050;
    width: 9%;
    margin-left: 75%;
    margin-top: 9%;
    position: absolute;
}
.cartamano1{
    -ms-transform:rotate(-25deg); /* IE 9 */
    -webkit-transform:rotate(-25deg); /* Opera, Chrome, and Safari */
    transform:rotate(-25deg);
    z-index: 1100;
    margin-left: 36%;
    margin-top: 34%;
}
.cartamano2{
    margin-left: 43%;
    margin-top: 33%;
    z-index: 1200;
}
.cartamano3{
    -ms-transform:rotate(25deg); /* IE 9 */
    -webkit-transform:rotate(25deg); /* Opera, Chrome, and Safari */
    transform:rotate(25deg);
    z-index: 1300;
    margin-left: 50%;
    margin-top: 34%;
}


.log {
    top:20%;
    width: 0;
}
.log p{
    font-size: 160%;
    width:300%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.212);
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.log button{
    display: inline-block;
    background-color: black;
    transition: font-size .2s;
    color: white;
    font-size: 130%;
    margin: auto;
    left: -100%;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
}
.log button:hover{
    font-size:140%;
}

span {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.438);
    font-size: 160%;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    color: white;

}
#piedrasbot {
    left: 80%;
}
#piedrasjug {
    left: 80%;
    top: 70%;
}

/* BOTONES PARA LOS CANTOS */

.paneldejuego {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1800;
}

.paneldejuego div {
    position: relative;
    width: 100%;

}

.paneldejuego button:hover {
    font-size: 120%;
    background-color: #1d0c02;
}

.paneldejuego fieldset {
    width: 370%;
    border: none;
}

.botonesjugar {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.botonesjugar button {
    display: inline-block;
    background-color: #000;
    color: white;
    transition: font-size .2s;
    font-size: 130%;
    margin-top: 5%;
    font-family: 'Times New Roman', Times, serif;
}

.botonesjugar button:hover {
    font-size: 140%;
}


ul {
    list-style: none;
}

.nav>li {
    float: left;
}

.nav li a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 1rem 1rem;
    display: flex;
}

.nav li a:hover {
    background-color: #434343;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}

.cantos {
    color: #ffffff;
    height: 3.3rem;
    width: 10rem;
    font-weight: 700;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    border: none;
    background-color: #110701;
}
.cartas {
    width: 4%;
    z-index: 900;
    margin-top: 0;
    margin-left: 42%;
    padding: 0;
    -ms-transform:rotate(130deg); /* IE 9 */
    -webkit-transform:rotate(130deg); /* Opera, Chrome, and Safari */
    transform:rotate(130deg);
    width: 9%;
    margin-left: 75%;
    margin-top: 11%;

}
.cartas img{
    position: relative;
    width: 1%;
    margin: 0in;
}